@(
  users: List[model.OasisUser],
  resourcesServers: List[model.ResourceServer],
  virtualScopes: List[model.VirtualScope],
  scopes: List[model.Scope],
  clients: List[model.Client],
  grants: List[model.Grant],
  tokens: List[model.Token]
)

<html>
  <head>
    <title>test</title>
    <style type="text/css">
			.type_Code {background-color: Chartreuse;}
      .type_Access {background-color: Khaki;}
      .type_Refresh {background-color: Thistle;}
			
			.grant_Granted {color: green;}
      .grant_PostPoned {color: purple;}
      .grant_Denied {color: red;}
      .grant_Revoked {color: white; background-color: red;}
		</style>
  </head>
  <body style="width: 1000px; margin: auto;">
    <h1>Redis test</h1>
    <div>
      Testing to create a model with redis.
    </div>
    
    <!-- 
      ** That's the users **
    -->
    <div style="border: 1px solid black; border-radius: 15px; margin: 20px; padding: 20px;">
      <h3>Users :</h3>
      <table style="width: 100%;">
      @for(user <- users){
        <tr>
          <td> @user.getOasisUUID() </td>
          <td> @user.getFullName() </td>
          <td> @user.getFirstName() </td>
          <td> @user.getLastName() </td>
          <td> @user.getEmail() </td>
        </tr>
      }
      </table>
    </div>
    
    <!-- 
      ** That's the clients **
    -->
    <div style="border: 1px solid black; border-radius: 15px; margin: 20px; padding: 20px;">
      <h3>Clients :</h3>
      <table style="width: 100%;">
      @for(client <- clients){
        <tr>
          <td> @client.getClientId() </td>
          <td> @client.getName() </td>
          <td> @client.getURI() </td>
          <td> @client.getRedirectURI() </td>
          <td> @client.getClient_secret() </td>
        </tr>
      }
      </table>
    </div>
    
    
    <!-- 
      ** That's the resources servers **
    -->
    <div style="border: 1px solid black; border-radius: 15px; margin: 20px; padding: 20px;">
      <h3>Resources servers :</h3>
      <table style="width: 100%;">
      @for(resourcesServer <- resourcesServers){
        <tr>
          <td> @resourcesServer.getServerId() </td>
          <td> @resourcesServer.getName() </td>
          <td> @resourcesServer.getURI() </td>
          <td> @resourcesServer.getClient_secret() </td>
        </tr>
      }
      </table>
    </div>
    
    
    <!-- 
      ** That's the virtual scopes **
    -->
    <div style="border: 1px solid black; border-radius: 15px; margin: 20px; padding: 20px;">
      <h3>Virtual scopes :</h3>
      <table style="width: 100%;">
      @for(virtualScope <- virtualScopes){
        <tr>
          <td> @virtualScope.getVirtualScopeId() </td>
          <td> @virtualScope.getLabel() </td>
          <td> @virtualScope.getDescription() </td>
        </tr>
      }
      </table>
    </div>
    
    
    <!-- 
      ** That's the scopes **
    -->
    <div style="border: 1px solid black; border-radius: 15px; margin: 20px; padding: 20px;">
      <h3>Scopes :</h3>
      <table style="width: 100%;">
      @for(scope <- scopes){
        <tr>
          <td> @scope.getScopeId() </td>
          <td> @scope.getLabel() </td>
          <td> @scope.getDescription() </td>
          <td> @scope.getResourceServer().getName() </td>
          <td>
            @if(scope.getVirtualScope() != null){
              @scope.getVirtualScope().getVirtualScopeId()
            } 
          </td>
          <!-- For real URL construction : see http://tools.ietf.org/html/rfc6749#section-4.1.1 -->
          <td>
          @for(client <- clients){
	          @for(user <- users){
		          <button
		             style="width: 100%;"
		             onclick="window.location = '/authorize?scope=@scope.getScopeId()&client_id=@client.getClientId()&user_id=@user.getOasisUUID()'"
	            >
		          Grant for @client.getName() and @user.getFullName()</button><br/>
		        }
          }
          </td>
        </tr>
      }
      </table>
    </div>
    
    <!-- 
      ** That's the scopes **
    -->
    <div style="border: 1px solid black; border-radius: 15px; margin: 20px; padding: 20px;">
      <h3>Grants :</h3>
      <table style="width: 100%;">
      @for(grant <- grants){
        <tr>
          <td style="font-size: 12px;"> @grant.getGrantId() </td>
          <td>from @grant.getScope().getResourceServer.getName()</td>
          <td> @grant.getUser().getFullName() </td>
          <td class="grant_@grant.getState()"> @grant.getState() </td>
        </tr>
      }
      </table>
    </div>
    
    
    <!-- 
      ** That's the scopes **
    -->
    <div style="border: 1px solid black; border-radius: 15px; margin: 20px; padding: 20px;">
      <h3>Tokens :</h3>
      <table style="width: 100%;">
      @for(token <- tokens){
        <tr class="type_@token.getType()">
          <td> @token.getTokenId() </td>
          <td> @token.getType()</td>
        </tr>
      }
      </table>
    </div>
  </body>
</html>
